<% provide :title, t("list_follow") %>
<section class = "content" id = "show_follow">
  <div class = "row">
    <%= render "users/information" %>
    <div class = "col-md-9">
      <div class = "nav-tabs-custom">
        <ul class = "nav nav-tabs">
          <li class = "active">
            <a href = "#timeline" data-toggle = "tab">
              <%= t "list_follow" %>
            </a>
          </li>
        </ul>
        <div class = "tab-content">
          <div class = "active tab-pane" id = "timeline">
            <% if @users.any? %>
              <ol class = "timeline timeline-inverse">
                <li class = "time-label">
                <span class = "bg-red">
                  <%= Date.today %>
                </span>
              </li>
              </ol>
              <ol class = "timeline timeline-inverse" id = "follows">
                  <%= render @users %>
              </ol>
              <div id = "pag" class = "row text-center">
                <%= will_paginate @users %>
              </div>
            <% else %>
              <h1>You don't have any follow</h1>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

