<%= form_tag searches_path, remote: true, method: :get, id: "index_questions_search" do %>
  <div class="row">
    <div class="col-md-4">
      <%= text_field_tag :keyword, params[:keyword], class: "form-control", 
        placeholder: t("search"), id: "search_keywords" %>
    </div>
    <div class="col-md-4">
      <%= select_tag :category, options_for_select(@categories.collect{|u| [u.name, u.id]}),
        include_blank: t("all_categories"), class: "form-control" %>
    </div>
    <div class="col-md-4">
      <div class="row">
        <%= radio_button_tag :learn, :had_learn %>
        <%= label_tag :learn, t("not_remember") %>
        <%= radio_button_tag :learn, :not_learn %>
        <%= label_tag :learn, t("not_learn") %>
        <%= radio_button_tag :learn, :remember %>
        <%= label_tag :learn, t("remember") %>
      </div>
    </div>
  </div>
<% end %>
